@model SiCED.Models.Matricula

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutParaImpressao.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aluno.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluno.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turma.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turma.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDeMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeMatricula)
        </dd>

    </dl>
</div>
