<ul class="nav nav-list">

    <li class="">
        <a href="@Url.Action("Index", "Home")">
            <i class="menu-icon fa fa-pencil"></i>
            <span class="menu-text"> Página Principal </span>
        </a>

        <b class="arrow"></b>
    </li>


    <li class="">
        <a href="@Url.Action("Index", "Responsavel")">
            <i class="menu-icon fa fa-child"></i>
            Responsaveis
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="@Url.Action("Index", "Aluno")">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">
                Alunos
            </span>

        </a>

        <b class="arrow"></b>


    </li>


    <li class="">
        <a href="@Url.Action("Index", "Matricula")">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text"> Matriculas </span>
        </a>

        <b class="arrow"></b>
    </li>


    @if (User.IsInRole("Administrador"))
    {


        <li class="">
            <a href="@Url.Action("Index", "Professor")">
                <i class="menu-icon fa fa-graduation-cap"></i>
                Professor
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="@Url.Action("Index", "Curso")">
                <i class="menu-icon fa fa-calendar"></i>

                <span class="menu-text">
                    Curso

                    <span class="badge badge-transparent tooltip-error" title="2 Important Events">
                        @*<i class="ace-icon fa fa-exclamation-triangle red bigger-130"></i>*@
                    </span>
                </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="@Url.Action("Index", "Disciplina")">
                <i class="menu-icon fa fa-picture-o"></i>
                <span class="menu-text"> Disciplinas </span>
            </a>

            <b class="arrow"></b>
        </li>


        <li class="">
            <a href="@Url.Action("Index", "Turma")">
                <i class="menu-icon fa fa-users"></i>
                Turma
            </a>

            <b class="arrow"></b>
        </li>

            <li class="">
                <a href="@Url.Action("Index", "UsersAdmin")">
                    <i class="menu-icon fa fa-lock"></i>
                    <span class="menu-text"> UsersAdmin </span>
                </a>

                <b class="arrow"></b>
            </li>


    }

    

  
</ul><!-- /.nav-list -->
