@model SiCED.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Usuário</h2>

<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeTown)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeTown)
        </dd>
    </dl>
</div>
<h4>Lista de Funções</h4>
<table class="table table-striped">

    @foreach (var item in Model.Roles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
        </tr>
    }
</table>

<h4>Lista de Logins</h4>
<table class="table table-striped">

    @foreach (var item in Model.Logins)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoginProvider)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Atualizar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>



