@model SiCED.Models.Matricula

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aluno.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluno.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turma.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turma.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDeMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeMatricula)
        </dd>

    </dl>
</div>
<div class="text-right"><a href="/Administracao/Matricula/GerarPDF/@Model.TurmaId"class="btn btn-danger"> Gerar Relatório em PDF</a></div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
