<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SiCED - Sistema de Controle de Escola de Dança</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Opera Ballet", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Responsavel", "Index", "Responsavel")</li>
                    <li>@Html.ActionLink("Aluno", "Index", "Aluno")</li>
                    <li>@Html.ActionLink("Matricular Aluno", "Index", "Matricula")</li>
                    <li>@Html.ActionLink("Professor", "Index", "Professor")</li>
                    <li>@Html.ActionLink("Curso", "Index", "Curso")</li>
                    <li>@Html.ActionLink("Disciplina", "Index", "Disciplina")</li>
                    <li>@Html.ActionLink("Turma", "Index", "Turma")</li>
                    

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SiCED - Sistema de Controle de Escola de Dança</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
