@model IEnumerable<SiCED.Models.Curso>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Curso cadastrado</h2>

<p>
    @Html.ActionLink("Cadastrar Curso", "Create")
</p>

@if (TempData["Mensagem"] != null)
{
    <p class="alert-success">@TempData["Mensagem"]</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id=item.Id })" title="Editar" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="@Url.Action("Details", new { id=item.Id })" title="Detalhes" class="btn btn-warning"><i class="glyphicon glyphicon-eye-open"></i></a>
            <a href="@Url.Action("Delete", new { id=item.Id })" title="Excluir" class="btn btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></a>
            @*@Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
