
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nós temos o que você precisa!</h2>
                <hr class="light">
                <p class="text-faded">Opera Ballet tem os melhores e mais premiados professores do Brasil,muitos com titulos nacionais e internacionais!</p>
                <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Iniciar!</a>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Ao seu dispor</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3>Modelos robustos</h3>
                    <p class="text-muted">Nossos modelos são atualizados regularmente para que eles não quebram.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                    <h3>Apronte para enviar</h3>
                    <p class="text-muted">Você pode usar este tema como está, ou você pode fazer mudanças!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                    <h3>Atualizado</h3>
                    <p class="text-muted">Atualizamos dependências para manter as coisas frescas.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                    <h3>Feito com amor</h3>
                    <p class="text-muted">Você tem que fazer seus sites com amor estes dias!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a href="@Url.Content("/img/portfolio/fullsize/1.jpg")" class="portfolio-box">
                    <img src="@Url.Content("/img/portfolio/thumbnails/1.jpg")" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Categoria
                            </div>
                            <div class="project-name">
                                Nome do projeto
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="@Url.Content("/img/portfolio/fullsize/2.jpg")" class="portfolio-box">
                    <img src="@Url.Content("/img/portfolio/thumbnails/2.jpg")" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Nome do projeto
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="@Url.Content("/img/portfolio/fullsize/3.jpg")" class="portfolio-box">
                    <img src="@Url.Content("/img/portfolio/thumbnails/3.jpg")" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Nome do projeto
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="@Url.Content("/img/portfolio/fullsize/4.jpg")" class="portfolio-box">
                    <img src="@Url.Content("/img/portfolio/thumbnails/4.jpg")" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Categoria
                            </div>
                            <div class="project-name">
                                Nome do projeto
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="@Url.Content("/img/portfolio/fullsize/5.jpg")" class="portfolio-box">
                    <img src="@Url.Content("/img/portfolio/thumbnails/5.jpg")" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Categoria
                            </div>
                            <div class="project-name">
                                Nome do projeto
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="@Url.Content("/img/portfolio/fullsize/6.jpg")" class="portfolio-box">
                    <img src="@Url.Content("/img/portfolio/thumbnails/6.jpg")" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Categoria
                            </div>
                            <div class="project-name">
                                Nome do projeto
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Acesse o Google facilmente!</h2>
            <a href="http://ww.google.com.br/" class="btn btn-default btn-xl sr-button">Divirta-se!</a>
        </div>
    </div>
</aside>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Vamos entrar em contato!</h2>
                <hr class="primary">
                <p>Pronto para começar o seu próximo projeto conosco? Fantástico! Dê-nos uma chamada ou emita-nos um email e nós receber-lhe-á de volta o mais cedo possível!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>(65)98404-1401</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:operaballet@siced.com.br">duvidas@siced.com.br</a></p>
            </div>
        </div>
    </div>
</section>